.header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
}

/* .header__logo {
  height: 25px;   
  object-fit: contain;
} */

.header__center {
  font-weight: bold;
  display: flex;
  align-items: center;
}

.header__center > h3 {
  display: flex;
  align-items: center;
  margin-right: 20px;
}


.header__right {
  display: flex;
  align-items: center;
}
