@import "~react-image-gallery/styles/css/image-gallery.css";

.cover {
    width: 80%;
    height: auto;
    object-fit: cover;
    display: flex;
    text-align: center;
}

.cover_div {
    max-width: 1000px;
    margin: auto;
}

/* .cover > img {
    max-height: 500px;
    width: 100%;
    object-fit: cover;
    display: flex;
    align-items: center;
}
*/
@media screen and (max-width: 800px) {
    .cover {
    width: 100%;
    }
} 

/* .cover > p {
    font-family: fantasy;
    font-weight: bold;
    color: rgb(52, 129, 16);
    position: relative;
    text-align: right;
    bottom: 100px;
    right: 300px;
} */
