.cover > img {
    width: 100%;
    display: flex;
}

/* .cover > p {
    font-family: fantasy;
    font-weight: bold;
    color: rgb(52, 129, 16);
    position: relative;
    text-align: right;
    bottom: 100px;
    right: 300px;
} */
