.productCard {
    margin-bottom: 40px;
    width: 270px;
    margin: 20px;

}

.productCard > img {
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-color: rgba(255, 255, 255, 0.911);
    border-radius: 10px;
    border-width: 50px;
}